<div class="DialogSlot">

  <div class="modal micromodal-slide" [id]="dialogID" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" [attr.aria-labelledby]="dialogID + '-title'">
        <header class="modal__header">
          <h2 class="modal__title" [id]="dialogID + '-title'">
            {{ DialogProps.title || "Loading..." }}
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" [id]="dialogID + '-content'">
          <ng-content select="[dialogContent]"></ng-content>
        </main>
      </div>
    </div>
  </div>

</div>