$primary: #00dd00;
$hoverBackground: rgba(0, 221, 0, 0.4);

div.terminalMenu {

  font-size: 2em;
  display: flex;
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;

  a {
    color: $primary;	
    text-decoration: none;	
    display: block;
    cursor: pointer;
    padding-left: 0.3em;
  }

  a:hover {
    transition: all 0.2s ease-in;
    background-color: $hoverBackground;
    outline: none;
    color: white;
    text-decoration: none;	
  }
  
  ul {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  ul a:before,
  p a:before {
    color: $primary;
    content: ' [ ';
  }
  
  ul a:after,
  p a:after {
    color: $primary;
    content: ' ] ';	
  }
  
}